{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
   <div class="overlay"></div>
   <form method="POST" class="box">
    {% csrf_token %}
       <div class="header">
           <h4>registrasi To Your Account</h4>
       </div>
       <div class="login-area">
        <label>Username</label>
           <input name="username" type="text" class="username" placeholder="Username">
           <label >Password</label>
           <input name="password" type="password" class="password" placeholder="Password">
           <label >Nama Depan</label>
           <input name="nama_depan" type="text" class="username" placeholder="Nama Depan">
           <label >Nama Belakang</label>
           <input name="nama_belakang" type="text" class="username" placeholder="Nama Belakang">
           <label >Telepon</label>
           <input name="telp" type="text" class="username" placeholder="Telepon">
           <label>Email</label>
           <input name="email" type="text" class="username" placeholder="Email">
           <input type="submit" value="Register" class="submit">
           <b><a href="{% url 'login' %}">Back</a></b>
       </div>
   </form> 
</body>
</html>
