{% extends 'front/base.html' %} 

{% block content %} 
{% load static %}

    <div class="container-fluid mt-5 pt-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="section-title mb-0">
                      <h4 class="m-0 text-uppercase font-weight-bold">Contact Us </h4>
                  </div>
                  <div class="bg-white border border-top-0 p-4 mb-3">
                      <div class="mb-4">
                        <h3 align="center">Biodata diri</h3>
                        <table align="center" cellpadding="10px" width="640px">
                            <td> <div class="d-flex align-items-center mb-2">
                              <h6 class="font-weight-bold mb-0">Nama</h6>
                          </div></td>
                            <td>: Muhammad Ramadhani Saputra</td>
                            <td rowspan="8"><img src="{% static 'biodata/dani.jpeg' %}" height="300px" width="200px"></td>
                          </tr>
                            <td> <div class="d-flex align-items-center mb-2">
                              <h6 class="font-weight-bold mb-0">Nim</h6>
                          </div></td>
                            <td>: 2011102441087</td>
                          </tr>
                            <td> <div class="d-flex align-items-center mb-2">
                              <h6 class="font-weight-bold mb-0">Kelas</h6>
                          </div></td>
                            <td>: A</td>
                          </tr>
                            <td> <div class="d-flex align-items-center mb-2">
                              <h6 class="font-weight-bold mb-0">Jurusan</h6>
                          </div></td>
                            <td>: Teknik Informatika</td>
                          </tr>
                            <td><div class="d-flex align-items-center mb-2">
                              <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                              <h6 class="font-weight-bold mb-0">Kampus</h6>
                          </div></td>
                            <td>: Universitas Muhammadiyah Kalimantan Timur Samarinda</td>
                          </tr>
                            <td><div class="d-flex align-items-center mb-2">
                              <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                              <h6 class="font-weight-bold mb-0">Email</h6>
                          </div></td>
                            <td>: 2011102441087@umkt.ac.id</td>
                          </tr>
                        </table>
                    </div>
                          
                  </div>
              </div>
              <div class="col-lg-4">
                  <!-- Social Follow Start -->
                  <div class="mb-3">
                      <div class="section-title mb-0">
                          <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                      </div>
                      <div class="bg-white border border-top-0 p-3">
                          <a href="#" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                              <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Fans</span>
                          </a>
                          <a href="#" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                              <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Followers</span>
                          </a>
                          <a href="#" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                              <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Connects</span>
                          </a>
                          <a href="#" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                              <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Followers</span>
                          </a>
                          <a href="#" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                              <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Subscribers</span>
                          </a>
                          <a href="#" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                              <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Followers</span>
                          </a>
                      </div>
                  </div>
                  <!-- Social Follow End -->
              </div>
          </div>
      </div>
  </div>
  <br><br><br><br><br><br><br>
  {% endblock %}