{% extends 'back/base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="toolbar">
                            <!--Here you can write extra buttons/actions for the toolbar-->
                        </div>
                        <table id="bootstrap-table" class="table">
                            <thead>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" class="text-center">Nomor</th>
                                <th data-field="name" data-sortable="true">Nama</th>
                                <th data-field="salary" data-sortable="true">Nim</th>
                                <th data-field="country" data-sortable="true">Prodi</th>
                                <th data-field="city">Angkatan</th>
                                <th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                {% comment %} <td class="text-sm">
                                    <a href="#" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                                      <i class="material-icons text-secondary position-relative text-lg">visibility</i>
                                    </a>
                                    <a href="#" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                                      <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                                    </a>
                                    <a href="#" onclick="alert('Yakin Ingin Menghapus?')" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                                      <i class="material-icons text-secondary position-relative text-lg">delete</i>
                                    </a>
                                  </td> {% endcomment %}
                            </thead>
                            <tbody>

                                {% for a in artikel %}
                                <tr>
                                    <td></td>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{a.nama}}</td>
                                    <td>{{a.nim}}</td>
                                    <td>{{a.prodi}}</td>
                                    <td>{{a.angkatan}}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}